* {
  margin: 0;
  padding: 0;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80px;
  background-color: white;
}

header img {
  width: 80px;
  height: 80px;
  margin-right: 2rem;
}

#container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#register-delete-container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 2rem; /* 각 섹션 사이의 거리 조정 */
  padding: 1rem 0;
  border-bottom: 2px solid #ccc; /* 구분선 추가 */
  margin-bottom: 2rem; /* 학생 목록과의 거리 */
}

#create-student-form {
  width: 100%;
}

label {
  font-weight: bold;
}
input {
  margin: 1rem 0;
}

button {
  width: 100%;
  border: none;
  background-color: #3b85cf;
  border-radius: 5px;
  height: 2rem;
  color: white;
  font-weight: bold;
}

li {
  list-style: none;
}

#attendance-color {
  height: 50px;
  border-radius: 5px;
  margin-bottom: 10px;
  text-align: center;
  font-weight: bold;
  line-height: 50px;
  cursor: pointer;
}

#student-container {
  border: 1px solid rgb(185, 185, 185);
  border-radius: 5px;
  padding: 5px;
}

#buttonContainer {
  display: flex;
  justify-content: space-around;
}

ul {
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(5, minmax(150px, 1fr));
  gap: 20px;
  width: 100%;
  padding: 0;
  margin: 2rem 0;
}
