* {
  margin: 0;
  padding: 0;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
  background-color: #0074b8;
  color: white;
}

header img {
  width: 100px;
  height: 100px;
  margin-right: 3.5rem;
}

#container {
  margin-top: 5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#register-delete-container {
  width: 80%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

#create-student-form {
  width: 100%;
}

label {
  font-weight: bold;
}

input {
  margin: 1rem 0;
  padding: 8px 0;
  border: 1px solid rgb(195, 195, 195);
  border-radius: 5px;
}

input:focus {
  border-color: #3b85cf;
  outline: none;
}

button {
  width: 100%;
  border: none;
  background-color: #3b85cf;
  border-radius: 5px;
  height: 2.5rem;
  color: white;
  font-weight: bold;
  font-size: 1rem;
}

#list-container {
  margin-top: 4rem;
  padding: 1rem;
  border-radius: 10px;
}

#list-container h1 {
  margin-bottom: 3rem;
}

li {
  list-style: none;
}

li p {
  margin: 10px 0;
}

#attendance-color {
  height: 50px;
  border-radius: 5px;
  margin-bottom: 10px;
  text-align: center;
  font-weight: bold;
  line-height: 50px;
  cursor: pointer;
  color: white;
}

#student-container {
  border: 1px solid rgb(185, 185, 185);
  border-radius: 5px;
  padding: 5px;
  background-color: white;
}

#buttonContainer {
  display: flex;
  justify-content: space-around;
}

ul {
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(5, 180px);
  gap: 80px;
}
